
/* @import url(/public/css/Roboto.css); */

tr:nth-of-type(odd) { 
	background-color: rgb(255, 254, 254);
}

th { 
	/* background:rgba(0, 0, 0, 1); */
	color: #333; 
	font-weight: bold; 
	height: 50px;
	}

td, th { 
	padding: 20px 30px;
	border: 1px solid rgb(255, 255, 255); 
	/* text-align: left;  */
	font-size: 18px;
	}

	
	  
	  table {
		border: 1px solid rgba(0, 0, 0, 0.253);
		border-collapse: collapse;
		margin: 0;
		padding: 0;
		width: 100%;
		table-layout: fixed;
	  }
	  
	  table caption {
		font-size: 1.5em;
		margin: .5em 0 .75em;
	  }
	  
	  table tr {
			/* background-color: rgb(245, 250, 255); */
			border: 1px solid rgb(202, 202, 202);
		padding: .35em;
	  }
	  
	  
	  table td {
		padding: .625em;
		text-align: center;
    text-justify: inter-word;
	  }
	  
	  table th {
		font-size: .85em;
		padding: .625em;
		text-align: center;
		letter-spacing: .1em;
		text-transform: uppercase;
	  }
	  
	  @media screen and (max-width: 600px) {
		table {
		  border: 0;
		}
	  
		table caption {
		  font-size: 1.3em;
		}
		
		table thead {
		  border: none;
		  clip: rect(0 0 0 0);
		  height: 1px;
		  margin: -1px;
		  overflow: hidden;
		  padding: 0;
		  position: absolute;
			width: 1px;
			justify-content: center;
		}
		
		table tr {
		  border-bottom: 3px solid #ddd;
		  display: block;
		  margin-bottom: .625em;
		}
		
		table td {
		  border-bottom: 1px solid #ddd;
		  display: block;
		  font-size: .8em;
		  text-align: right;
		}
		
		table td::before {
		  /*
		  * aria-label has no advantage, it won't be read inside a table
		  content: attr(aria-label);
		  */
		  content: attr(data-label);
		  float: left;
		  font-weight: bold;
		  text-transform: uppercase;
		}
		
		table td:last-child {
		  border-bottom: 0;
		}
	  }

tr:nth-child(odd) td {
	/* background-color: rgb(245, 250, 255); */
}
 
tr:nth-child(odd):hover td {
		background-color: rgb(245, 245, 245);
}


tr:hover td {
  color:#000;
  border-top: 1px solid #ffffff;
}


 .table-title h3 {
    /* color: #fafafa; */
    font-size: 30px;
    font-weight: 400;
    font-style:normal;
    font-family: "Roboto", helvetica, arial, sans-serif;
    text-transform:uppercase;
 }
 
 

 